
<div>
    <h2><span>Study</span> {{vm.study.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.study.name}}</span>
        </dd>
        <dt><span>Remove Gps</span></dt>
        <dd>
            <span>{{vm.study.removeGps}}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
            <span>{{vm.study.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
            <span>{{vm.study.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Manager</span></dt>
        <dd>
            <span ng-repeat="manager in vm.study.managers">
                {{manager.id}}{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Survey</span></dt>
        <dd>
            <span ng-repeat="survey in vm.study.surveys">
                <a ui-sref="survey-detail({id: survey.id})">{{survey.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Integration</span></dt>
        <dd>
            <span ng-repeat="integration in vm.study.integrations">
                <a ui-sref="integration-detail({id: integration.id})">{{integration.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="study-detail.edit({id:vm.study.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
